#test {
  margin: 0 10px !important;
  background: #fff !important;
  padding: 3px !important;
  color: #000 !important;
}

.ads-ad,
._Ak,
.annotation,
.video-annotations,
.video-ads,
.ad-container,
.ytd-banner-promo-renderer-background,
.darla,
.has-beacon-click,
.gemini-ad,
.horoscope-container,
.footertdv2wafer,
.ii1g3i-0,
.sc-27ebcd42-0,
.commercial-unit-desktop-top,
.vp-main,
.promoted-trend,
.promoted-tweet,
.ad-card,
.ad-free-upsell-container,
.ad,
.google_ads,
.ff-sans,
div[class^='adthrive-ad'],
div[class^='ads'],
#module-hpsetBanner,
.monalixa-event,
#sda-LREC {
  display: none !important;
}
/*piratebay*/
.adblock,
.ad120,
.ad468,
.ad728,
div[attribute='data-text-ad'],
#tads,
#bottomads,
.cta,
.tune-in,
.matchup,
.fc-dialog-container {
  display: none !important;
}

[aria-label='Ads']:after {
  display: none !important;
}

[data-wikis*='Kamala'] {
  display: none !important;
}

[data-wikis*='AOC'] {
  display: none !important;
}

[data-wikis*='Nancy_Pelosi'] {
  display: none !important;
}

[data-wikis*='Taylor_Swift'] {
  display: none !important;
}

[data-property='Celebrity'] {
  display: none !important;
}

[data-property='Entertainment'] {
  display: none !important;
}

[data-property='Style'] {
  display: none !important;
}

[data-property='Lifestyle'] {
  display: none !important;
}

[data-property='Politics'] {
  display: none !important;
}

[data-wikis*='Biden'] {
  display: none !important;
}

[data-wikis*='Kardashian'] {
  display: none !important;
}

div[id*='cookie'] {
  display: none !important;
}

div > img[src*='survey'] {
  display: none !important;
}

parent:has(> [src*='survey']) {
  display: none !important;
}

#atomic .Bgc\(\#2d1152\) {
  font-size: 14px;
}

#atomic .Bgz\(702px\) > #header-logo,
#atomic .W\(92px\) {
  display: none !important;
}

#ybar-logo > img::before {
  display: none !important;
}

#ybar-logo > a {
  src: '';
}

#atomic .C\(\$finNavBlueText\),
#atomic .C\(\$finNavBlueText\)\:h:hover {
  font-size: 14px;
}

#header-mail-button,
#header-notification-button {
  display: none !important;
}

#atomic .C\(\$primaryColor\),
#atomic .C\(--text1\),
#atomic .C\(\$primaryColor\)\:h:hover {
  color: #292929;
  font-weight: 200;
}

#header-signin-link > span,
.Bds\(s\) {
  font-size: 16px;
}

#atomic .Bdc\(\$c-fuji-grape-jelly\),
#atomic .Bdc\(\$grapeJelly\),
#atomic .Bdc\(\$grapeJelly\)\:h:hover {
  border: none;
}

#atomic .Bgc\(\#2d1152\) {
  font-size: 18px;
  padding: 2px 10px;
}

#atomic .H\(30px\),
#atomic .H\(plButtonWd\),
#atomic .H\(spon5Height\),
#atomic .H\(22px\) {
  height: 30px;
}

[title='Yahoo Finance Plus'],
#finance-overlay-index,
#finance-desktop-web-portfolio-stickyheader {
  display: none !important;
}
#header-signin-link > span,
.Bds\(s\),
#atomic .C\(\$finNavBlueText\),
#atomic .C\(\$finNavBlueText\)\:h:hover {
  color: #007560;
}

#ybar-search,
#atomic .Bgc\(\#2d1152\),
#header-desktop-search-button {
  background-color: #007560;
}

.socialPostCard-DS-EntryPoint1-1,
.oneFooter_wrapper-DS-EntryPoint1-1,
.commentContainer-DS-EntryPoint1-1,
.commentOverlayContainer-DS-EntryPoint1-1 {
  display: none !important;
}
