#test {
  margin: 0 10px !important;
  background: #fff !important;
  padding: 3px !important;
  color: #000 !important;
}

.ads-ad,
._Ak,
.annotation,
.video-annotations,
.video-ads,
.ad-container,
.ytd-banner-promo-renderer-background,
.darla,
.has-beacon-click,
.gemini-ad,
.horoscope-container,
.footertdv2wafer,
.ii1g3i-0,
.commercial-unit-desktop-top,
.vp-main,
.promoted-trend,
.promoted-tweet,
.ad-card,
.ad-free-upsell-container,
div[class^='ads'] {
  display: none !important;
}
/*piratebay*/
.adblock,
.ad120,
.ad468,
.ad728


#tads,
#bottomads,
#myLightboxContainer,
#mega-banner-wrapper,
#animation_container,
/* Yahoo */
#Banner,
#commerce-module-container {
  display: none !important;
}
