#test {
  margin: 0 10px !important;
  background: #fff !important;
  padding: 3px !important;
  color: #000 !important;
}

.ads-ad,
._Ak,
.annotation,
.video-annotations,
.video-ads,
.ad-container,
.ytd-banner-promo-renderer-background,
.darla,
.has-beacon-click,
.gemini-ad,
.horoscope-container,
.footertdv2wafer,
.ii1g3i-0,
.commercial-unit-desktop-top,
.vp-main,
.promoted-trend,
.promoted-tweet,
.r-1hycxz,
.oIk2Cb,
.ULSxyf,
.rpBMYb,
.GoogleActiveViewElement,
.GoogleCreativeContainerClass,
.ad-banner-wrapper,
a[href="https://example.org"],
.my-adsLDRB
div[class^='ad'] {
  display: none !important;
}

#tads,
#bottomads,
#myLightboxContainer,
#mega-banner-wrapper,
#animation_container,
#commerce-module-content,
#Banner {
  display: none !important;
}

div[aria-label='Yahoo Video Player'] {
  display: none !important;
}
